<!-- Default form register -->
<form #utilisateur="ngForm" (ngSubmit)="inscription(utilisateur.value)" class="text-center border border-light p-2" >

    <p class="h4 mb-4">Inscription</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" name="prenom" #prenomAct="ngModel" [(ngModel)]="user.prenom" required class="form-control" placeholder="Prénom">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" name="nom" #nomAct="ngModel" [(ngModel)]="user.nom" required class="form-control" placeholder="Nom de famille">
        </div>
    </div>
    
    <!-- Login -->
    <input type="text" name="login" #loginAct="ngModel" [(ngModel)]="user.login" required class="form-control mb-4" placeholder="Login">
    <div class="text-danger" [hidden]="ulogDiff == false">
        <p>Login déjà utilisé</p>
    </div>

    <!-- E-mail -->
    <input type="email" name="email" #emailAct="ngModel" [(ngModel)]="user.email" required class="form-control mb-2" placeholder="E-mail">

    <!-- E-mail -->
    <input type="email" name="emailConfirme" #emailConfirmeAct="ngModel" [(ngModel)]="user.emailConfirme" required class="form-control" placeholder="Confirmer e-mail">
    <div class="text-danger" [hidden]="emailDiff == false">
        <p>Adresses e-mail différentes</p>
    </div>
    <div class="text-danger" [hidden]="umailDiff == false">
        <p>Adresse e-mail déjà utilisée</p>
    </div>

    <!-- Password -->
    <input type="password" name="mdp" #mdpAct="ngModel" [(ngModel)]="user.mdp" required  class="form-control mb-2 mt-4" placeholder="Mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
   
    <!-- Password -->
    <input type="password" name="mdpConfirme" #mdpConfirmeAct="ngModel" [(ngModel)]="user.mdpConfirme" required  class="form-control" placeholder="Confirmer mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <div class="text-danger" [hidden]="mdpDiff == false">
        <p>Mots de passe différents</p>
    </div>

    <div class="form-row mb-4 mt-4">
        <div class="col">
            <h3 id="msgDateDeNaissance" class="form-text text-muted ">
                Date de naissance
            </h3>
        </div>
        <div class="col">
            <!-- Date de naissance -->
            <input type="date" name="naissance" #naissanceAct="ngModel" [(ngModel)]="user.naissance" required class="form-control" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        </div>
    </div>

    

    <!-- Sign up button -->
    <button [disabled]="!utilisateur.form.valid" class="btn btn-info my-4 btn-block" type="submit">S'inscrire</button>

</form>