<head>
<title>jQuery Bracket</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/jquery.bracket.min.js"></script>
<script type="text/javascript" src="js/tournoi.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.bracket.min.css" />
</head>
<body>
<input type="text" id="participant" placeholder="Participant">
<button id="ajouter">Ajouter</button><br><br>
<button id="vider">Vider</button>
<button id="aleatoire">Tirage au sort + équilibrage</button>
<button id="enregistrer">Enregistrer</button>
<div id="tournoi"></div>
</body>
<router-outlet></router-outlet>  