<br>
<div style="margin-left: auto;" class="row">
    <div style="text-align: center; margin-left: 1%; " class="table col-sm-3 ">
        <table style="text-align: center; width: 100%;">
            <thead style="background-color: rgb(140, 248, 130);" class="thead-">
                <tr>


                    <th>Mes potes</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of potes">
                    <td *ngIf="bool(p.envoyeur)">{{p.envoyeur.login}}</td>

                    <td *ngIf="bool(p.receveur)">{{ p.receveur.login }}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div style="text-align: center; margin-left: 1%; " class="table col-sm-3 ">
        <table style="text-align: center; width: 100%;">
            <thead style="background-color: rgba(235, 220, 10, 0.568);" class="thead-">
                <tr>


                    <th>Répondre</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of potesrecus">
                    <td *ngIf="bool(p.envoyeur)">{{p.envoyeur.login}}</td>

                    <td *ngIf="bool(p.receveur)">{{ p.receveur.login }}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div style="text-align: center; margin-left: 1%; " class="table col-sm-3 ">
        <table style="text-align: center; width: 100%;">
            <thead style="background-color: rgba(159, 248, 226, 0.959);" class="thead-">
                <tr>


                    <th>En attente</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of potesenvoyes">
                    <td *ngIf="bool(p.envoyeur)">{{p.envoyeur.login}}</td>

                    <td *ngIf="bool(p.receveur)">{{ p.receveur.login }}</td>

                </tr>
            </tbody>
        </table>
    </div>


    <div style="text-align: center; margin-left: 1%;" class="table col-sm-2 ">
        <br>
        <div style="text-align: center; margin-left: 1%;background-color:thistle ;">


            <form style="text-align: center;" #invitation="ngForm" (ngSubmit)="envoyerinvitation(invitation.value)"
                class="text-center  p-6">

                <br>
                <p class="h6 mb-4">Demande d'ami</p>

                <!-- Email -->
                <input style="width: 80%; margin: auto;" type="text" name="login" class="form-control mb-4"
                    placeholder="entrer login" ngModel="">

                <!-- Sign in button -->
                <button style="width: 80%; margin: auto;" class="btn btn-info btn-block my-4"
                    type="submit">envoyer</button>

            </form>
            {{ msg }}
            <br>
        </div>

    </div>
</div>