<div class="row mt-3">
    <div class="col-sm-4"></div>
    <div class="titre container col-sm-4">
        <h1 class="text-center">{{ groupe.nom }}</h1>
        <h3 class="text-center">{{groupe.description}}</h3>
    </div>
    <div class="col-sm-4">
        <br>
        <button mat-fab color="accent" (click)="modifierGroupe()">
            <mat-icon>edit</mat-icon>
        </button>
        <strong class="text-info">&nbsp;&nbsp; Modifier informations du groupe </strong>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-6 text-center">
        <button mat-fab color="accent" (click)="invitationGroupe()">
            <mat-icon>person_add</mat-icon>
        </button>
        <strong class="text-info">&nbsp;&nbsp; Inviter </strong>
        <div class="container mt-3">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Pseudo</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ag of appartGroupe">
                        <td><strong>{{ ag.utilisateur.login }}</strong></td>
                        <td>{{ ag.pointsParUtilisateurDansGroupe }}</td>
                        <td>
                            <button mat-raised-button color="accent" (click)="removeMember(ag.utilisateur)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 text-center">
        <div class="titre container mt-3 col-sm-10">
            <h1>*Conversation du groupe*</h1>
        </div>
        <br>
        <button class="btn btn-primary" (click)="callConvGroupe()">
            Conversation du groupe <mat-icon> message</mat-icon>
        </button>
    </div>
</div>

<br><br><br>

<div class="text-center">
    <button mat-fab color="accent" (click)="nouvelleCompet()">
        <mat-icon>star</mat-icon>
    </button>
    <strong class="text-info">&nbsp;&nbsp; Nouvelle compétition </strong>
    <div class="titre container mt-3 col-sm-10">
        <h1>*Affichage des compétitions*</h1>
    </div>
</div>

<div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>activite</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>lieu</th>
                <th>limiteInscription</th>
                <th>format</th>
                <th>description</th>
                <th>pari</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of competitions">
                <td>{{c.activite}}</td>
                <th>{{c.dateDebut | date: 'd/M/y'}}</th>
                <th>{{c.dateDebut | date: 'd/M/y'}}</th>
                <th>{{c.lieu}}</th>
                <th>{{c.limiteInscription | date: 'd/M/y'}}</th>
                <th>{{c.format}}</th>
                <th>{{c.description}}</th>
                <th>{{c.pari}}</th>
                <th *ngIf="!participe(c)">
                    <button class="btn btn-primary" (click)="rejoindreCompet(c)">
                        Rejoindre
                    </button>
                </th>
                <th *ngIf="participe(c)">
                    <button class="btn btn-primary" (click)="quitterCompet(c)">
                        quitter
                    </button>
                </th>
            </tr>
        </tbody>
    </table>