<div class="row mt-3">
    <div class="col-sm-3"></div>
    <div class="bloc-titre container col-sm-6 text-center">
        <div class="titre">{{ groupe.nom }}</div>
        <div class="description">{{groupe.description}}</div>
    </div>
    <div class="col-sm-3">
        <br>
        <button mat-fab color="accent" (click)="modifierGroupe()">
            <mat-icon>edit</mat-icon>
        </button>
        <strong>&nbsp;&nbsp; Modifier informations du groupe </strong>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-6 text-center">
        <div class="row">
            <div class="col-sm-3 text-right">
                <strong>Inviter &nbsp;&nbsp;</strong>
                <button mat-fab color="accent" (click)="invitationGroupe()">
                    <mat-icon>person_add</mat-icon>
                </button>
            </div>
            <div class="col-sm-4">
                <button mat-fab color="accent" (click)="inviteGroupe()">
                    <mat-icon>backspace</mat-icon>
                </button>
                <strong>&nbsp;&nbsp; Désinviter </strong>
            </div>
            <div class="col-sm-5">
                <button class="btn btn-primary" (click)="callConvGroupe()">
                    Conversation 
                    <mat-icon> message</mat-icon>
                </button>
            </div>
        </div>

        <div class="container mt-3">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Pseudo</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ag of appartGroupe">
                        <td><strong>{{ ag.utilisateur.login }}</strong></td>
                        <td>{{ ag.pointsParUtilisateurDansGroupe }}</td>
                        <td>
                            <button mat-raised-button color="accent" (click)="removeMember(ag.utilisateur)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-6 text-center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th width="30%">Position</th>
                    <th width="40%">Pseudo</th>
                    <th width="30%">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cg of classementGroupe; let index = index">
                    <td>
                        <div *ngIf=" index+1 == 1 " ><img src="assets/images/medal-gold.png" height="100px" width="100px" /></div>
                        <div *ngIf=" index+1 == 2 "><img src="assets/images/medal-silver.png" height="70px" width="70px" /></div>
                        <div *ngIf=" index+1 == 3 "><img src="assets/images/medal-bronze.png" height="50px" width="50px" /></div>
                        <div *ngIf=" index+1 > 3 ">{{index+1}}<sup>ème</sup> </div>
                    </td>
                    <td><strong>
                        <div *ngIf=" index+1 == 1 " class="first">{{ cg.utilisateur.login }}</div>
                        <div *ngIf=" index+1 == 2 " class="second">{{ cg.utilisateur.login }}</div>
                        <div *ngIf=" index+1 == 3 " class="third">{{ cg.utilisateur.login }}</div>
                        <div *ngIf=" index+1 > 3 ">{{ cg.utilisateur.login }}</div>
                    </strong></td>
                    <td>
                        <div *ngIf=" index+1 == 1 " class="first">{{ cg.pointsParUtilisateurDansGroupe }}</div>
                        <div *ngIf=" index+1 == 2 " class="second">{{ cg.pointsParUtilisateurDansGroupe }}</div>
                        <div *ngIf=" index+1 == 3 " class="third">{{ cg.pointsParUtilisateurDansGroupe }}</div>
                        <div *ngIf=" index+1 > 3 ">{{ cg.pointsParUtilisateurDansGroupe }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br><br><br>

<div class="text-center">
    <button mat-fab color="accent" (click)="nouvelleCompet()">
        <mat-icon>star</mat-icon>
    </button>
    <strong>&nbsp;&nbsp; Nouvelle compétition </strong>
</div>


<div>
    <br>
    <app-competition-groupe></app-competition-groupe>
    <br><br>
</div>

<!-- 
<div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>activite</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>lieu</th>
                <th>limiteInscription</th>
                <th>format</th>
                <th>description</th>
                <th>pari</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of competitions">
                <td>{{c.activite}}</td>
                <th>{{c.dateDebut | date: 'd/M/y'}}</th>
                <th>{{c.dateDebut | date: 'd/M/y'}}</th>
                <th>{{c.lieu}}</th>
                <th>{{c.limiteInscription | date: 'd/M/y'}}</th>
                <th>{{c.format}}</th>
                <th>{{c.description}}</th>
                <th>{{c.pari}}</th>
                <th>bu</th>
                <th *ngIf="participation">
                    <button class="btn btn-primary" (click)="rejoindreCompet(c)">
                        Rejoindre
                    </button>
                </th>
                 <th *ngIf="participe(c)==true">
                    <button class="btn btn-primary" (click)="quitterCompet(c)">
                        Se désinscrire
                    </button>
                </th> 
                <th *ngIf="isOrganisateur(c)">
                    <button class="btn btn-primary" (click)="supprimerCompet(c)">
                        Annuler la compétition
                    </button>
                    <div *ngIf="c.id==msgtrue" class="text-danger"> 
                    {{ msg }}
                    </div>
                </th>
            </tr>
        </tbody>
    </table> -->