<div>
    <h2 class="text-secondary text-center">Hello projet Compotition</h2>
  </div>
  
  <div >
    <ul class="nav peach-gradient py-4 mb-4 mb-md-0 font-weight-bold z-depth-1 nav-fill w-100">
      <li class="nav-item"><a class="nav-link active white-text" routerLink="">Classement public</a></li>
      <li class="nav-item"><a class="nav-link white-text" routerLink="">Classement des paris</a></li>
      <li class="nav-item"><a class="nav-link white-text" routerLink="">Se connecter</a></li>
      <li class="nav-item"><a class="nav-link white-text" routerLink="">S'incrire</a></li>
    </ul>
  </div>
  
<router-outlet></router-outlet>
