<div>
    <h2 class="text-secondary text-center">Hello projet Compotition</h2>
</div>

<div *ngIf="!auth.isConnected()">
    <ul class="nav peach-gradient py-4 mb-4 mb-md-0 font-weight-bold z-depth-1 nav-fill w-100">
        <li class="nav-item"><a class="nav-link active white-text" routerLink="">Classement public</a></li>
        <li class="nav-item"><a class="nav-link white-text" routerLink="">Classement des paris</a></li>
        <li class="nav-item"><button class="btn btn-primary btn-deep-orange" (click)="callMyConnexion()">
                se connecter
            </button></li>
        <li class="nav-item"><button class="btn btn-primary btn-deep-orange" (click)="callInscription()">
                S'inscrire
            </button></li>
    </ul>
</div>

<div *ngIf="auth.isConnected()">
    <ul class="nav peach-gradient py-4 mb-4 mb-md-0 font-weight-bold z-depth-1 nav-fill w-100">
        <li class="nav-item"><a class="nav-link white-text" routerLink="tournoi">Competitions</a></li>
        <li class="nav-item"><a class="nav-link white-text" routerLink="potes">Mes Potes</a></li>
        <li class="nav-item"><a class="nav-link white-text" routerLink="groupe">Mes Groupes</a></li>
        <li class="nav-item"><a class="nav-link white-text" routerLink="">Classement</a></li>
        <li class="nav-item"><a class="nav-link white-text" routerLink="pageaccueilpari">Evenement Pari</a></li>
        <li class="nav-item"><a class="nav-link white-text" routerLink="mon-profil">Mon profil</a></li>
        <li class="nav-item"><button class="btn btn-primary btn-deep-orange" (click)="auth.deconnexion()">
            <mat-icon>power_settings_new</mat-icon>
        </button></li>
    </ul>
</div>

<router-outlet></router-outlet>