<div class="container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let c of competitions" (opened)="participe(c)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ c.description }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ c.dateDebut | date: 'd/MM/yyyy hh:m:s' }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            
                
            <div class="container mt-5">
                <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>activite</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>lieu</th>
                <th>limiteInscription</th>
                <th>format</th>
                <th>description</th>
                <th>pari</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{c.activite}}</td>
                <th>{{c.dateDebut | date: 'd/M/y'}}</th>
                <th>{{c.dateDebut | date: 'd/M/y'}}</th>
                <th>{{c.lieu}}</th>
                <th>{{c.limiteInscription | date: 'd/M/y'}}</th>
                <th>{{c.format}}</th>
                <th>{{c.description}}</th>
                <th>{{c.pari}}</th>
                <th>
                    <button *ngIf="!participation" class="btn btn-primary" (click)="rejoindreCompet(c)">
                        Rejoindre
                    </button>
                </th>
                 <th>
                    <button *ngIf="participation" class="btn btn-danger" (click)="quitterCompet(c)">
                        Se désinscrire
                    </button>
                </th> 
                <th *ngIf="isOrganisateur(c)">
                    <button class="btn btn-danger" (click)="supprimerCompet(c)">
                        Annuler la compétition
                    </button>
                    <div *ngIf="c.id==msgtrue" class="text-danger"> 
                    {{ msg }}
                    </div>
                </th>
            </tr>
        </tbody>
    </table> 
                
    </div>
                
            
        </mat-expansion-panel>
    </mat-accordion>
</div>