input.ng-invalid {
    background-color: pink;
}
input.ng-valid {
    background-color: lightgreen;
}
textarea.ng-invalid {
    background-color: pink;
}
textarea.ng-valid {
    background-color: lightgreen;
}