<p>connexion works!</p>


<div>
    <!-- Default form login -->
<form #connexion="ngForm" (ngSubmit)="seConnecter(connexion.value)" class="text-center border border-light p-5" >

    <p class="h4 mb-4">Connexion</p>

    <!-- Email -->
    <input type="text" name="login" class="form-control mb-4" placeholder="Login" ngModel="">

    <!-- Password -->
    <input type="password" name="mdp" class="form-control mb-4" placeholder="Password" ngModel="">

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Valider</button>

</form>
{{ msg }}

</div>