<p>connexion works!</p>


<div>
    <form >
        <input type="text" name="login" placeholder="login" ngModel="">
        <input type="text" name="mdp" placeholder="mot de passe" ngModel="">
        <button class="btn btn-secondary" type="submit"> Valider</button>
    </form>
    <br> <br> <br>
    <section class="vh-100">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 text-black">
                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
    <form >
        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

        <div class="form-outline mb-4">
          <input type="email" id="form2Example18" class="form-control form-control-lg" />
          <label class="form-label" for="form2Example18">Email address</label>
        </div>
    
        <div class="form-outline mb-4">
          <input type="password" id="form2Example28" class="form-control form-control-lg" />
          <label class="form-label" for="form2Example28">Password</label>
        </div>
    
        <div class="pt-1 mb-4">
          <button class="btn btn-info btn-lg btn-block" type="button">Login</button>
        </div>
    
    </form>
</div>
</div>
<div class="col-sm-6 px-0 d-none d-sm-block">
    
  </div>
</div>
</div>
</section>
   
</div>