<main style="height: 470px;background-color: rgb(255, 248, 146);">
    <div >
        <br>
        <br><br><br>
        <div style="margin-left: auto;" class="row">
            <div style="text-align: center; margin-left: 0%; " class="table col-sm-1 "></div>
            <div style="text-align: center; margin-left: 0%; " class="table col-sm-5 ">
                <br>
                <br>
    
                <button style="width: 70%;height: 70px; background-color: rgb(140, 248, 130) !important;color: black; "
                    class="btn btn-primary " (click)="redirigerparier()" >
                    Parier
                </button>
        
                <br>
                <br>
                <br>
                <button style="width: 70%;height: 70px; background-color: rgb(140, 248, 130) !important;color: black;"
                    class="btn btn-primary btn-deep-orange" (click)="redirigerclassementgeneralpari()">
                    Classement général
                </button>
    
    
            </div>
    
            <div style="text-align: center; margin-left: 0%; " class="table col-sm-5 ">
                <br>
                <br>
    
                <button style="width: 70%;height: 70px; background-color: rgb(140, 248, 130) !important;color: black;"
                    class="btn btn-primary btn-deep-orange"(click)="redirigerclassementamipari()">
                    Classement des potes
                </button>
                <br>
                <br>
                <br>
                <button style="width: 70%;height: 70px; background-color: rgb(140, 248, 130) !important;color: black;"
                    class="btn btn-primary btn-deep-orange"(click)="redirigerancienpari()">
                    Anciens paris
                </button>
            </div>
    
        </div>
    
    </div>
</main>