<h1 class="text-center">Mes groupes</h1>

<div class="row">
    <div class="col-sm-4 text-center mt-3">
      <strong class="text-info">Créer un nouveau groupe &nbsp;&nbsp;</strong>
      <button mat-fab color="accent" (click)="callNouveauGroupe()">
        <mat-icon>group_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of groupes">
                <td>{{ g.groupe.id }}</td>
                <td><strong>{{ g.groupe.nom }}</strong></td>
                <td>{{ g.groupe.description }}</td>
            </tr>
        </tbody>
    </table>
</div>