/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.compotition{
    color: white;
    font-size: 50px;
    line-height: 50px;
}

.bloc-titre{
    background-color: orange;
    color: white;
    border-radius: 20px;
}

.titre{
    font-size: 50px;
    line-height: 50px ;
    margin-top: 25px;
    margin-bottom: 20px;
}

.description{
    font-size: 20px;
    margin-bottom: 20px;
}

.first{
    font-size: 50px;
    margin-top: 35px;
}

.second{
    font-size: 35px;
    margin-top: 20px;
}

.third{
    font-size: 25px;
    margin-top: 15px;
}

.pagemin{
    min-height:92%;
}