
<img class="img-bg" src="assets/images/bras-de-fer.jpg"/>
<main class="corps" style="height: 470px;">
    <div style="margin-left: auto;" class="row">
        <div style="text-align: center; margin-left: 0%; " class="table col-sm-6 ">
            <div style="width: 70%;margin: auto;">
                <br><br>
                <br>

                <h1>Fonction pari</h1>
                <br>
                <br>
                <p>Ici, vous pouvez sélectionner une compétition disponible, et choisir votre favori.
                    Si votre favori gagne, vous gagnez des points pari et vous montez dans le classement!<br>
                    Serez vous le meilleur parieur du mois?</p>
            </div>

            <div style="text-align: center;margin: auto">
                <br>
                <br>
                <br>
                
               
                <br>
                <br>
                <a style=" color: rgb(7, 106, 139);" (click)="revenir()">revenir à la page
                    principale des paris</a>
            </div>
        </div>


        <div style="text-align: center; margin-left: 0%; " class="table col-sm-6 ">
            <br>

            <table style="text-align: center; width: 70%;margin: auto;">
                <thead style="background-color: rgb(140, 248, 130);" class="thead-">
                    <tr>
                        <th style="background-color: rgb(15, 128, 5);" colspan="3">Competitions disponibles</th>
                    </tr>
                    <tr>
                        <th width="50%">Activité</th>
                        <th width="30%">Lieu</th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody style="background-color: rgb(197, 255, 191);">
                    <tr *ngFor="let c of listes">
                        <td>{{c.activite}}</td>
                        <td>{{c.lieu}}</td>
                        <td>
                            <button style="background-color: blue;color: white;" (click)="pari(c)">
                                Parier
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>